body {
	background: white;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
/* --- COLOR PALETTE --- */
/*
Japanese Indigo: #26413C
Outer Space: #3E505B
Eerie Black: #1A1D1A
Pewter Blue: #8AB0AB
*/
/* --- Navbar --- */
.navbar {
	position: sticky;
	top: 0;
}
.nav {
	list-style: none;
	color: white;
	background: #8AB0AB;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}
li {
	display: inline;
	padding-left: 15px;
}
.brand {
	font-size: 30px;
	font-family: 'Great Vibes', cursive;
	padding-right: 40px;
	border-right: 1px solid white;
}


/* --- Jumbotron --- */
.jumbotron {
	background: #8AB0AB;
	color: white;
	text-align: center;
	padding: 5px;
	height: 900px;
}
hr {
	width: 10%;
	color: white;
	margin-top: 10px;
}
h1 {
	font-size: 90px;
	font-family: 'Great Vibes', cursive;
	color: #8AB0AB;
	padding-bottom: 10px; 
	margin-bottom: 0;
}
/* --- Jumbotron One --- */
.jumbOne {
	background: url(https://images.unsplash.com/photo-1500514966906-fe245eea9344?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #8AB0AB;
	padding-top: 200px;
}
/* --- Jumbotron Two --- */
.jumbTwo {
	background: #3E505B;
	padding-top: 50px;
}
h2 {
	font-size: 40px;
}
p {
	font-size: 20px;
}
span {
	font-family: 'Great Vibes', cursive;
	font-size: 30px;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
	margin-top: 100px;
}
.item {
	margin-bottom: 100px;
}
.fa-5x {
	color: #1A1D1A;
}
/* --- Jumbotron Three --- */
.jumbThree {
	background: url(https://images.unsplash.com/photo-1509239767605-0703ef611f08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-left: 0;
	margin-right: 0;
	padding-top: 50px;
	height: 100%;
}
.containerTwo {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 50px;
	height: 100%;
}
/*** Sponsor item ***/
.sponsor {
	background: none;
	height: 375px;
	text-align: left;
	border-radius: 30px;
	margin-left: 50px;
	color: white;
	padding-top: 75px;
	padding-bottom: 75px;
}
.sponsorTitle {
	font-size: 40px;
}
.sponsorText {
	width: 30%;
}
.sponsor-btn {
	border: none;
	border-radius: 25px;
	background: #3E505B;
	padding: 20px;
	color: white;
	font-size: 25x;
}
/*** Volunteer item ***/
.volunteer {
	background: none;
	height: 375px;
	text-align: right;
	border-radius: 30px;
	margin-right: 50px;
	color: white;
	padding-top: 75px;
	padding-bottom: 75px;
	margin-bottom: 100px;
}
.volunteerTitle {
	font-size: 40px;
}
.volunteerText {
	width: 30%;
	padding-left: 70%;
}
.volunteer-btn {
	border: none;
	border-radius: 25px;
	background: #3E505B;
	padding: 20px;
	color: white;
	font-size: 25x;
}
/* --- Jumbotron Five --- */
.jumbFive {
	height: 800px;
	background: #1A1D1A;
}
.containerFour {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
	margin-top: 50px;
}
.cont-four-item {
	text-align: center;
}
.teamPhotos {
	height: 300px;
	width: auto;
	border-top-left-radius: 50% 50%;
  	border-top-right-radius: 50% 50%;
  	border-bottom-right-radius: 50% 50%;
  	border-bottom-left-radius: 50% 50%;
}
h5 {
	font-size: 30px;
	margin-bottom: 10px;
	color: #8AB0AB;
}
